<div class="footer">
    <div>
        {{#if groupID}}
        <p style="color: black;">
            &copy; Copyright 2020 by Group {{groupID}}
        </p>
        {{else}}
        <div class="footer">
            <div>
                <p style="color: black;">
                    &copy; Copyright 2020 by {{mssv}} - {{name}} - {{mail}}
                </p>
            </div>
        </div>
        {{/if}}
    </div>
</div>